@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
@import "tailwindcss";

@theme {
  --color-karga-orange: #FF4D00;
  --color-karga-gray: #332A2A;
  --color-input-bg: #443737;
  --color-dark-bg: #272121;
}