@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
    --color-karga-orange: #FF4D00;
    --color-karga-lightorange: #ffbfb3;
    --color-karga-gray: #332A2A;
    --color-input-bg: #443737;
    --color-dark-bg: #272121;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.glowy-placeholder::placeholder {
  transition:
      color 0.4s ease,
      text-shadow 1s ease;
}

.glowy-placeholder:hover::placeholder,
.glowy-placeholder:focus::placeholder {
  color: var(--color-karga-lightorange);
  text-shadow: 0 0 4px var(--color-karga-lightorange);
}

/* Animación de entrada */
@keyframes slideInRight {
    from {
      transform: translate(100%, 0);
      opacity: 0.7;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  /* Animación de salida  */
  @keyframes slideOutLeft {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(150%, 0);
    }
  }

  @keyframes slideInUp {
    from {
      transform: translate(0, 70%);
      opacity: 0.7;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes slideOutDown {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, 110%);
    }
  }
  
  .animate-slide-in-custom {
    animation: slideInRight 300ms ease-out forwards;
  }
  
  .animate-slide-out-custom {
    animation: slideOutLeft 550ms ease-in-out forwards;
  }

  .animate-slide-in-up {
    animation: slideInUp 300ms ease-in-out forwards;
  }
  
  .animate-slide-out-down {
    animation: slideOutDown 300ms ease-in-out forwards;
  }

